
@media only screen and (max-width: 767px) {
  body {
    background: url(hand_mob.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center, center;
    overflow: scroll;
    }
  


.p20 {
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;

}
.header{
    position:sticky;
    font-family: 'Roboto Condensed', sans-serif;
    text-align:center;
    color:white;
    size: auto;
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    border: 1px solid;
    border-color: black;
    align-items:center;

}

.canvasbox {
    
    left: 5px;
    right:5px;
    max-width:50%; 
    height:50vw;
    position: absolute;
    
    
    margin: 10vh auto auto auto;
    border-radius: 3px;
    border-bottom: 3px solid #EE82EE;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
}
#myvideo {
    

}
.mb10 {
    margin: 5vh auto auto auto;
    max-width:75%; 
    height:20vw;
    position: sticky;
    font-size: 80%;

    
}

.mt10 {
   
    margin-top: 10px;
    margin-left: 10px;
}

.updatenote {
    font-size: 70%;
    position: absolute;
    margin-left: 5px;
    margin-right:5px;
    margin-top: 7px;
    padding: 10px;
    background: #0027c2;
    color: white;
    display: inline;
    border: 2px solid black;
}
.bx--btn {
    font-size: 80%;
}
audio {
    position: absolute;
    top:187vh;
    right:20vw;

    max-height: 70%;
    max-width:100%;
    border-radius: 3px;
    overflow: hidden;
}
.box {
  
  width: 70%;
  height: 400px;
  
  border-radius: 2px;
  border: 2px solid black;
  padding: 10px;
  color: white;
  text-align: left;
  overflow: scroll;
}
#tx{
    font-family: 'Roboto Condensed', sans-serif;
    padding:5px;
    padding: 10px;
    color: yellow;
    max-height:55vh;
    font-size: 20px;
    text-align: left;
    overflow: hidden;

}
.a {
  
  margin: 80vh auto auto auto;
}

.b {
    
    margin: 100vh auto auto auto;
}
#recorded{
    display:block;

    top:220vh;
    left:30vw;
    max-width:45%; 
    height:30vw;
    position: absolute;
    
    border-radius: 3px;
    border-bottom: 3px solid #EE82EE;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
}


button {
  display: none;
  position:relative;
  margin: 75vh 80vw auto auto;
  padding-left: 2px;
  padding-right: 2px;
  width: 99px;
}

button:last-of-type {
  margin: 0;
  

}
#record{
  display:none;
}
#play{
  display:none;
}


.hero__scroll {
    text-shadow: 5px 5px #EE82EE;
    font-weight: bold;
    color:white;
    position: absolute;
    bottom: 0px;
    width: 140px;
    margin: auto;
    display: block;
    cursor: pointer;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    text-align: center;
    overflow: scroll;
}
}
}