
@media only screen and (max-width: 767px) {
  body {
    background: url(hand_mob.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center, center;
    overflow: scroll;
    }
  


.p20 {
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;

}
.header{
    position:sticky;
    text-align:center;
    color:white;
    size: auto;
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    border: 1px solid;
    border-color: black;
    align-items:center;

}

.canvasbox {
    
    left: 5px;
    right:5px;
    max-width:75%; 
    height:50vw;
    position: absolute;
    
    
    margin: 10vh auto auto auto;
    border-radius: 3px;
    border-bottom: 3px solid #EE82EE;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
}
#myvideo {
    

}
.mb10 {
    margin: 5vh auto auto auto;
    max-width:75%; 
    height:20vw;
    position: sticky;
    font-size: 80%;
    
}

.mt10 {
   
    margin-top: 10px;
    margin-left: 10px;
}

.updatenote {
    font-size: 70%;
    position: absolute;
    margin-left: 5px;
    margin-right:5px;
    margin-top: 7px;
    padding: 10px;
    background: #0027c2;
    color: white;
    display: inline;
    border: 2px solid black;
}
.bx--btn {
    font-size: 80%;
}
audio {
    display:none;
    position: fixed;
    
}
.box {
  
  width: 70%;
  height: 360px;
  background: orange;
  border-radius: 2px;
  border: 2px solid black;
  padding: 10px;
  color: white;
  text-align: center;
  overflow: scroll;
}

.a {
  
  margin: 80vh auto auto auto;
}

.b {
  margin: 30vh auto auto auto;
}


.hero__scroll {
    text-shadow: 5px 5px #EE82EE;
    font-weight: bold;
    color:white;
    position: absolute;
    bottom: 0px;
    width: 140px;
    margin: auto;
    display: block;
    cursor: pointer;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    text-align: center;
    overflow: scroll;
}
}
}