
body {
    padding: 20px;
    background: url(hand.jpg) repeat-x center center fixed;
    background-size: auto;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
}

.p20 {
    padding: 20px;
    margin-left: 10px;
}
.header{
    position:sticky;
    size: auto;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    font-size: 32px;
    line-height: 50px;
    border: 2px solid;

}

.canvasbox {
    position: fixed;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 10px;
    width: 500px;
    height: 388px;
    border-bottom: 3px solid #EE82EE;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
    

}

.mb10 {
    
    margin-bottom: 10px;
    margin-left: 10px;
}

.mt10 {
    
    margin-top: 10px;
    margin-left: 10px;
}

.updatenote {

    padding: 10px;
    background: #0027c2;
    color: white;
    display: inline;
}

audio {
    display:none;
    position: fixed;
    margin-top: 400px;
    margin-left: 10px;
    border-radius: 3px;
    
    padding: 20px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
    
}