
body {
    background-color: #464646;
    padding: 20px;
    background: url(hand.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;


}


.p20 {
    padding: 20px;
    margin-left: 10px;
}
.header{
    position:sticky;
    size: auto;
    text-align:left;
    margin-left: 40px;
    margin-right: 40px;
    padding: 15px;
    font-size: 32px;
    line-height: 50px;
    border: 2px solid;


}

.canvasbox {
    position: absolute;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 10px;
    width: 500px;
    height: 388px;
    border-bottom: 3px solid #EE82EE;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
    overflow: hidden;

}

.mb10 {
    position:absolute;
    margin-bottom: 10px;
    margin-left: 10px;
}

.mt10 {
    margin-top: 10px;
    margin-left: 10px;
}

.updatenote {
    position: absolute;
    margin-left: 40px;
    margin-right:auto;
    margin-top: 7px;
    padding: 10px;
    background: #0027c2;
    color: white;
    display: inline;
    border: 2px solid black;
}

audio {
    display:none;
    position: fixed;
    margin-top: 400px;
    margin-left: 10px;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
    
}

.hero__scroll {
    text-shadow: 5px 5px #EE82EE;
    font-weight: bold;
    color:white;
    position: absolute;
    bottom: 1px;
    width: 140px;
    margin: auto;
    display: block;
    cursor: pointer;
    padding-bottom: 25px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    text-align: center;
    overflow: scroll;

}
.secondary {
    left: 20px;
    background: red;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    max-height: 250px;
    padding: 75px 20px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
}
.box {
  
  width: 40%;
  height: 400px;
  background: orange;
  border-radius: 2px;
  border: 2px solid black;
  padding: 10px;
  color: white;
  text-align: center;
  overflow: scroll;
}

.a {
  
  margin: 90vh auto auto 5px;
}

.b {
  margin: 100vh auto auto auto;
}

#recorded{

    top:120vh;
    left:55vw;
    max-width:40%; 
    height:25vw;
    position: absolute;
    
    border-radius: 3px;
    border-bottom: 3px solid #EE82EE;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
}


button {
  display: none;
  position:relative;
  margin: 75vh 80vw auto auto;
  padding-left: 2px;
  padding-right: 2px;
  width: 99px;
}

button:last-of-type {
  margin: 0;
  display:none;

}
#record{
  display:none;
}
#play{
  display:none;
}



}
}
